@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fest-icon {
  position: fixed;
  color: red;
  /* top: 2rem; */
  z-index: 20000;
  bottom: 2rem;
  left: 2rem;
  background-color: white;
  width: 170px;
  /* height: 70px; */
  padding: 10px;
  border-radius: 5px;
  transition: all ease 0.5s;
  /* box-shadow: 0px 0px 10px white; */
}

.fest-icon:hover {
  /* box-shadow: 0px 0px 10px orange; */
  transition: all ease 0.5s;
  transform: scale(1.1) !important;
}

.fest-icon img {
  width: 100%;
  height: 100%;
}

.copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(28, 27, 77, 1);
  color: white;
}

.privacy-page h3 {
  color: #303030;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

@media (max-width: 420px) {
  .fest-icon {
    width: 110px;
  }
}
